<div class="search-container m-3"><!--search form-->
  <div >
    <form novalidate>
      <div class="row">
        <div class="col-sm-3 mt-1">
          <input class="form-control" placeholder="Latitude" name="latitude" #latitude="ngModel"
                 [(ngModel)]="formData.latitude"
                 pattern="^[-+]?[0-9]{1,7}(\.[0-9]+)?$"
                 [ngClass]="{'warning-input': latitude.invalid && (latitude.dirty || latitude.touched)}" required>

        </div>
        <div class="col-sm-3 mt-1">
          <input class="form-control" placeholder="Longitude" name="longitude" #longitude="ngModel"
                 [(ngModel)]="formData.longitude"
                 pattern="^[-+]?[0-9]{1,7}(\.[0-9]+)?$"
                 [ngClass]="{'warning-input': longitude.invalid && (longitude.dirty || longitude.touched)}" required>

        </div>
        <div class="col-sm-3 mt-1">
          <input class="form-control" placeholder="Radius(km)" name="radius" #radius="ngModel"
                 [(ngModel)]="formData.radius"
                 pattern="^\s*(?=.*[1-9])\d*(?:\.\d*)?\s*$"
                 [ngClass]="{'warning-input': radius.invalid && (radius.dirty || radius.touched)}" required>

        </div>
        <div class="col-sm-3 mt-1">
          <div>
            <button class="btn btn-sm btn-success form-control" (click)="search()"
                    [disabled]="latitude.invalid || longitude.invalid || radius.invalid || isLoading">Search</button>
          </div>
        </div>
      </div>
      <div *ngIf="errorText" class="text-danger text-center">{{errorText}}</div>

    </form>
  </div>

  <div class="video-detail mt-3" ><!--video list-->
    <div *ngIf="isLoading" class="text-center">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div *ngIf="videoData.items">
      <div class="map-container mt-3" *ngIf="videoData.items.length"><!--map-->
        <agm-map
          [latitude]="lat"
          [longitude]="lng"
          [zoom]="10">

          <agm-marker
            [latitude]="lat"
            [longitude]="lng">
          </agm-marker>

          <agm-circle [latitude]="lat"
                      [longitude]="lng"
                      [radius]="rad"
                      [fillColor]="'green'">
          </agm-circle>

          <agm-marker *ngFor="let item of videoData.items"
                      [latitude]="item.recordingDetails.location.latitude"
                      [longitude]="item.recordingDetails.location.longitude"
                      [iconUrl]="{
                url: item.snippet.thumbnails.default.url,
                scaledSize: {
                    width: 40,
                    height: 40
                }
            }">
            <agm-snazzy-info-window [maxWidth]="300" [maxHeight]="300" [closeWhenOthersOpen]="true">
              <ng-template>
                <a target="_blank" href="https://www.youtube.com/watch?v={{item.id}}">
                  <img class="rounded mx-auto d-block img-fluid" src="{{item.snippet.thumbnails.default.url}}">
                </a>
                <a target="_blank" class="video-title mt-2" href="https://www.youtube.com/watch?v={{item.id}}">{{item.snippet.title}}</a>
                <div class="mt-2 text-secondary">lat, long: {{item.recordingDetails.location.latitude}} , {{item.recordingDetails.location.longitude}}</div>
              </ng-template>
            </agm-snazzy-info-window>
          </agm-marker>
        </agm-map>
      </div><!--end map-->

      <div *ngIf="videoData.items.length === 0" class="font-italic not-found-videos">
        Videos not found
      </div>

      <div class="row">
        <div class="col-sm-3 mt-2" *ngFor="let item of videoData.items">
          <a target="_blank" href="https://www.youtube.com/watch?v={{item.id}}">
            <img class="rounded mx-auto d-block img-fluid" src="{{item.snippet.thumbnails.medium.url}}">
          </a>
          <a target="_blank" class="video-title" href="https://www.youtube.com/watch?v={{item.id}}">{{item.snippet.title}}</a>
          <div class="text-secondary">{{getDistanceFromLatLonInKm(lat, lng, item.recordingDetails.location.latitude, item.recordingDetails.location.longitude) | number}} km</div>
        </div>

      </div>

      <div *ngIf="videoData.pageInfo" class="mt-3">
        <nav aria-label="Page navigation">

          <ul class="pagination .pagination-sm justify-content-center">
            <li class="page-item" [ngClass]="{'disabled': isLoading || !videoData.prevPageToken}">
              <a class="page-link" href="#" (click)="getPage('prev', videoData.prevPageToken)">Previous</a>
            </li>

            <li class="page-item pt-2 ml-2 mr-2">{{pageInfo()}}</li>

            <li class="page-item" [ngClass]="{'disabled': isLoading || !videoData.nextPageToken}">
              <a class="page-link" href="#" (click)="getPage('next', videoData.nextPageToken)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div><!--video list-->
</div><!--end search form-->

