.search-container {
  .warning-input {
    border-color: red;
  }

  .map-container {
    agm-map { height: 500px;}
  };

  .video-detail {
    .video-title {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .not-found-videos {
      background: #eaeaef;
      padding: 5px;
    }
  }
}

.si-content {
  max-height: 500px !important;
  max-width: 500px !important;
}
