.search-container {
  .warning-input {
    border-color: red;
  }
  
  .video-detail {
    .video-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
